<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../public/register.css'>
    <script src='main.js'></script>
</head>
<body>
    <script>
        window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                    ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
                // Handle page restore.
                window.location.reload();
            }
        });
    </script>

    <div class="signup-container">
        <% if(!user){ %>
        <h1>Sign up</h1>
        <form action="/signup" method="post">
            <input class="user-input" required type="text" name="username" placeholder="Username"/>
            <input class="user-input" required type="password" name="password" placeholder="Password"/>
            <div>
                <input class="submit-button" type="submit"/>
            </div>
        </form>
        <a class="login-link" href="/login-page">Already have an account?</a>
        <% }else{ %>
            <p class="logged-in">You are are logged in as:</p> 
            <p class="logged-in logged-user"><%= user.username %></p>
            <a class="signout " href="/main">Back</a>
            <a class="signout" href="/signout">Sign out</a>
        <% } %>
    </div>
</body>
</html>