*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

body{
    background-color: #EBEBEB;
}

.banner{
    text-align: left;
    width: 100%;
    height: 150px;
    background-color: #39829B;
}

.banner .buttons{
    display: inline-flex;
}

.banner h2{
    font-size: medium;
    cursor: pointer;
    width: fit-content;
    padding-top: 20px;
    padding-left: 40px;
    color: white;
    
}

.banner a{
    text-decoration: none;
}

.banner h2:hover{
    cursor: pointer;
    color: rgb(240, 240, 240);
}

.banner form{
    padding-top: 20px;
    padding-left: 40px;
}


.app-container{
    display: inline-flex;
    width: 100%;
    min-height: 70vh;
    margin-bottom: 20px;
}

.sidebar{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    margin-left: 10px;
    width: 25%;
    text-align: center;
    background-color: white;
    border: solid #B5BEC2;
    margin-top: 20px;
    margin-left: 20px;
}

.sidebar .user-info{
    width: 100%;
}

.sidebar h2{
    margin-top: 10px;
    margin-bottom: 5px;
}

.f-container{
    width: 40%;
    margin: 2px;
    margin-top: -200px;
    text-align: center;
    min-height: 20vh;
}

.follow{
    margin-top: 10px;
}

.count{
    color: blue;
    font-size: larger;
}

.f-container a{

    text-decoration: none;
    color: black;
    font-size: large;
}

.f-container a:hover {
    color: gray;
}

.posts-container{
    text-align: left;
    width: 50%;  
    background-color: white;
    border: solid #B5BEC2;
    margin-top: 20px;
    margin-left: 20px;
}

.posts-container h1{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.post-container{
    text-align: left;
    background-color: #DBE7ED;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 0.5px #B5BEC2;
}

.post-container button{
    margin-top: 25px;
    cursor: pointer;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
    border-radius: 4px;
}

.post-container button:hover{
    background-color: #FF5159;
}


.follow-button{
    cursor: pointer;
    margin: 5px;
    margin-left: 30px;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: large;
    color: white;
    font-weight: bold;
}

.Unfollow{
    background-color: #B5BEC2;
    color: black;
}

.no-user{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    font-weight: lighter;
}